body{
    background-color: rgb(34, 34, 34);
    color: rgb(213,150,140)
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#ghost-logo{
    width: 40px;
    position: relative;
    left: 100px;
    bottom: 50px;
}

#pacman-logo{
    width: 40px;
    position: relative;
    left: 125px;
    bottom: 50px;
}

#comida-logo{
    width: 40px;
    position: relative;
    left: 300px;
    bottom: 50px;
}

#title{
    flex-direction: column;
    line-height: 10px;
    color: rgb(213,150,140)   
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: rgb(213,150,140)
}

a:hover{
    color:rgb(31,104,100);
    transition: 0.5s all;
}

#login-btn{
    border: 2px solid rgb(31,104,100);
    padding: 10px;
    border-radius: 15px;
}

#login-btn:hover{
    background-color: rgb(31,104,100);
    color: rgb(213,150,140)
}

h1{
    font-weight: 200;
    color: rgb(213,150,140)
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
    color: rgb(213,150,140)
}

span{
    color: rgb(31,104,100);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
    color: rgb(213,150,140)
}

img{
    width: 580px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(31,104,100);
    color: rgb(213,150,140);
    font-weight: bold;
}

form [type="submit"]:hover{
   cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}